#save-message {
  width: fit-content;
  padding: 5px;
  position: fixed;
  top: 10px;
  left: 50%;
  justify-content: center;
  opacity: 0;
  background-color: #b794f4;
  transition: opacity 0.5s ease-in-out;
}

#save-message.show {
  opacity: 1;
}

.card-container {
  width: 70vw;
  max-width: 1000px;
  aspect-ratio: 3/2;
  margin-top: 2rem;
  margin-right: 2rem;
  position: relative;
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  gap: 20px;
  padding: 1rem;
  border: 2px solid #333;
  transition: transform 0.5s ease-in-out;
  background-color: white;
}

.page {
  flex: 1;
  width: 100%;
  height: 100%;
  border: 1px dashed #aaa;
  background-color: #f9f9f9;
  padding: 10px;
  overflow: auto;
  box-sizing: border-box;
  margin-top: 15px;
}

.page-wrapper input {
  text-align: center;
  width: 90%;
  border: 0px;
}

textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.cover-image {
  width: 90%;
  height: auto;
  margin-top: 10px;
}

.hidden {
  display: none;
}

.view-toggle {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.view-toggle button {
  padding: 10px 16px;
  background-color: #008cba;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  position: relative;
  left: 5rem;
}
.view-toggle button:hover {
  background-color: #005f79;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 8px;
  width: 50%;
}

.page-label {
  margin-bottom: 5px;
  font-weight: bold;
  text-transform: lowercase;
  color: #333;
  font-size: 14px;
}

.placeholder {
  color: #aaa;
  pointer-events: none;
}

.page-label {
  font-size: 18px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: center;
  gap: 5vw;
  justify-content: center;
}
