name: Unit Tests

on:
  pull_request:
    branches: main

jobs:
  enforce-style:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - name: Install Dependencies
        run: npm install
      - name: ESLint check
        run: npm run format
      - name: Prettier check
        run: npm run prettier:fix

  test-and-document:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Dependenceis
        run: npm install
      - name: Unit Test
        run: npm test:unit
      - name: Generate Documentation
        run: npx jsdoc -c jsdoc.json

      - name: Upload JSDoc documentation as artifact
        uses: actions/upload-artifact@v4
        with:
          name: jsdoc
          path: specs/docs
  e2e-tests: 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Start server in background
        run: npm start &
        env:
          NODE_ENV: test

      - name: Wait for server to start
        run: npx wait-on http://localhost:9999

      - name: Run E2E tests
        run: npm run test:e2e

      # - name: Commit and push docs
      #   run: |
      #     git config --global user.name "github-actions[bot]"
      #     git config --global user.email "github-actions[bot]@users.noreply.github.com"
      #     git add specs/docs
      #     git diff --cached --quiet || git commit -m "Auto-update JSDoc documentation"
      #     git push
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
